body{
  margin: 0;
  padding: 0;
}

.cards{
  display: flex;
  flex-direction: row;
  width: 100vw;
  gap: 15%;
  flex-wrap: wrap;
}

.control{
  width: 100vw;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}